body {
  text-align: center;
  background-color: grey;
}
input {
  font-size: 1em;
  padding: 10px;
  box-shadow: 0 8px 5px -5px;
  margin-bottom: 10px;
  border-radius: 10px;
}
img{
  margin:30px;
}
@media(min-width: 764px){
  .container {
    width: 75%;
    margin: auto;
    text-align: center;
  }
  input {
    width: 500px;
  }
  .searchHead {
    margin-top: 40px;
  }
  #lightGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  img {
    margin: 50px;
    box-shadow: 0 5px 5px -5px;
  }

}
