.container {
  width: 75%;
  margin: auto;
  text-align: center;
}
.searchHead {
  margin-top: 40px;
}
input {
  font-size: 1em;
  padding: 10px;
  width: 500px;
}
.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
img {
  margin: 50px;
  }
